/* Definição das cores da paleta do projeto */
@laranja: #FA6900;
@laranja_opaco: #F38630;
@vermelho: #D43031;
@cinza: #E0E4CC;
@vermelho_claro: #fd5050; 
@verde_agua: #69D2E7;
@verde_opaco: #01b46e;
@azul: #009ee0;

/* Resetando as propriedades do html e body e adicionando novos padrões */
html, body{
	margin: 0;
	padding: 0;
	font-family: lato;
	height: 100%;
}

/* Cores de botões padrão no sistema */
.btn-blue{
	background-color: @azul;
	color: white;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

.btn-red{
	background-color: @vermelho_claro;
	color: white;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

.btn-green{
	background-color: @verde_opaco;
	color: white;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

/* Estilo para o painel de Login do sistema */
.painelLogin{
	background: #E0E0E0;
	width: 400px;
	max-height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 9px 20px #ccc;
	padding: 30px 10px 0px 10px;

	input[type="text"],input[type="password"], select{
		width: 70%;
		height: 30px;
		margin: 5px;
		border-radius: 5px;
		border: solid 1px #ccc;
		padding-left: 10px;
	}

	input[type="submit"]{
		width: 70%;
		height: 30px;
		.btn-blue;
	}
}

/* Estilo para a classe que abriga todos os conteúdos do sistema */
.conteiner{
	// height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
        height: 100%;

	// Configuração das mensagens de sucesso e de erro 
	.success{ 
	  width: 99%;
	  background: @verde_opaco; 
	  text-align: center; 
	  padding: 12px; 
	  color: white; 
	  border-radius: 5px; 
	  border: 2px solid darken(#01b46e, 10%); 
	 
	  span{ 
	  	background: darken(@verde_opaco, 10%);
	    float: right;
	    width: 20px;
	    height: 20px;
	    border-radius: 100%;
	    cursor: pointer;
	    color: white;
	    font-size: 14px;
	    line-height: 19px;
	  } 
	} 
	 
	.error{ 
	  width: 99%;
	  background: @vermelho_claro; 
	  text-align: center; 
	  padding: 12px; 
	  margin: 5px 0px; 
	  color: white; 
	  border-radius: 5px; 
	  border: 2px solid darken(#fd5050, 10%); 
	 
	  span{ 
	  	background: darken(@vermelho_claro, 10%);
	    float: right;
	    width: 20px;
	    height: 20px;
	    border-radius: 100%;
	    cursor: pointer;
	    color: white;
	    font-size: 14px;
	    line-height: 19px;
	  } 
	} 

	/* Estilo para o cabeçalho e menu */
	header.cabecalho{
		background: @vermelho;
		display: flex;
		flex-flow: row wrap;
		padding: 5px 15px 5px 15px;
		justify-content: space-between;
		align-items: center;
	}

	.menu_bar{
		ul{
			list-style: none;
			display: flex;
			flex-flow: row wrap;

			a{
				text-decoration: none;
				padding: 1em;
				color: white;
				font-family: lato;

				&:hover{
					background: darken(@vermelho, 10%);
					font-weight: bold;
				}
			}
		}
	}

	//Estilo do avatar e nome do usuário
	.user_avatar{
		display: flex;
		align-items: center;

		a{
			padding: 10px;
			font-family: Lato;
			font-weight: bold;
			font-size: 15px;
			text-decoration: none;
			color: white;

			&:nth-child(3){
				text-decoration: underline;
				font-weight: normal;
			}


			&:nth-child(4){
				text-decoration: underline;
				font-weight: normal;
			}
		}

		span{
			width: 40px;
			height: 40px;
			border-radius: 100%;
			border: solid 2px #fff;
			background: url('/public/_imagens/logo.png') no-repeat white;
			background-size: 100%;
		}	
	}


	/* Estilo para o corpo do sistema */
	.body{
		display: flex;
		height: 100%;

		.cabecalho_content{
			display: flex;
			justify-content: space-between;

			border-bottom: 1px dashed #ccc;
			padding: 5px 10px;
			width: 100%;

			input[type="date"]{
				width: 130px;
			}

			input[type="submit"]{
				background: @azul;
				border: none;
				padding: 4px 5px;
				border-radius: 5px;
				color: white;
			}
		}

		/* Estilo para a barra lateral do sistema */
		aside.sidebar{
			border-right: 1px solid #ccc;
			min-width: 20%;

			ul{
				list-style: none;
				padding-left: 10px;
				
				li{
					padding: 5px 5px;

					a{
						text-decoration: none;
						color: black;
					}
				}
			}
		}

		//Estilo para a box de conteúdos
		.content{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 78%;
			padding: 10px;

			.grafico{
				width: 80%;
			}
			
			.meta_infos{
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				text-align: right;


				.meta{
					margin: 0px 30px 0px 30px;
					padding: 0px 15px 5px 15px;
					border-right: 1px solid #ccc;
				}
			}

			.scroll_x{
				overflow-x: scroll;
				width: 99%;
			}

			.tr_dados{
				clear: both;
				padding-top: 50px;
				table{
					width: 100%;
					margin-bottom: 30px;
					border-collapse: collapse;
					white-space: nowrap;
					th{
						height: 40px;
						background-color: @azul;
						color: white;
                                                padding: 0px 15px;
					}
					th, td{
						border: solid 1px @cinza;
					}
					td{
						padding: 10px;					
					}

				}
			}
		
		}
	}
}
