/* Definição das cores da paleta do projeto */
/* Resetando as propriedades do html e body e adicionando novos padrões */
html,
body {
  margin: 0;
  padding: 0;
  font-family: lato;
  height: 100%;
}
/* Cores de botões padrão no sistema */
.btn-blue {
  background-color: #009ee0;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
.btn-red {
  background-color: #fd5050;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
.btn-green {
  background-color: #01b46e;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
/* Estilo para o painel de Login do sistema */
.painelLogin {
  background: #E0E0E0;
  width: 400px;
  max-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 9px 20px #ccc;
  padding: 30px 10px 0px 10px;
}
.painelLogin input[type="text"],
.painelLogin input[type="password"],
.painelLogin select {
  width: 70%;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding-left: 10px;
}
.painelLogin input[type="submit"] {
  width: 70%;
  height: 30px;
  background-color: #009ee0;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
/* Estilo para a classe que abriga todos os conteúdos do sistema */
.conteiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* Estilo para o cabeçalho e menu */
  /* Estilo para o corpo do sistema */
}
.conteiner .success {
  width: 99%;
  background: #01b46e;
  text-align: center;
  padding: 12px;
  color: white;
  border-radius: 5px;
  border: 2px solid #01814f;
}
.conteiner .success span {
  background: #01814f;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  font-size: 14px;
  line-height: 19px;
}
.conteiner .error {
  width: 99%;
  background: #fd5050;
  text-align: center;
  padding: 12px;
  margin: 5px 0px;
  color: white;
  border-radius: 5px;
  border: 2px solid #fc1e1e;
}
.conteiner .error span {
  background: #fc1e1e;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  font-size: 14px;
  line-height: 19px;
}
.conteiner header.cabecalho {
  background: #d43031;
  display: flex;
  flex-flow: row wrap;
  padding: 5px 15px 5px 15px;
  justify-content: space-between;
  align-items: center;
}
.conteiner .menu_bar ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.conteiner .menu_bar ul a {
  text-decoration: none;
  padding: 1em;
  color: white;
  font-family: lato;
}
.conteiner .menu_bar ul a:hover {
  background: #ad2425;
  font-weight: bold;
}
.conteiner .user_avatar {
  display: flex;
  align-items: center;
}
.conteiner .user_avatar a {
  padding: 10px;
  font-family: Lato;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.conteiner .user_avatar a:nth-child(3) {
  text-decoration: underline;
  font-weight: normal;
}
.conteiner .user_avatar a:nth-child(4) {
  text-decoration: underline;
  font-weight: normal;
}
.conteiner .user_avatar span {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 2px #fff;
  background: url('/public/_imagens/logo.png') no-repeat #ffffff;
  background-size: 100%;
}
.conteiner .body {
  display: flex;
  height: 100%;
  /* Estilo para a barra lateral do sistema */
}
.conteiner .body .cabecalho_content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  padding: 5px 10px;
  width: 100%;
}
.conteiner .body .cabecalho_content input[type="text"]#datepicker1,
.conteiner .body .cabecalho_content input[type="text"]#datepicker2 {
  width: 130px;
}
.conteiner .body .cabecalho_content input[type="submit"] {
  background: #009ee0;
  border: none;
  padding: 4px 5px;
  border-radius: 5px;
  color: white;
}
.conteiner .body aside.sidebar {
  border-right: 1px solid #ccc;
  min-width: 20%;
}
.conteiner .body aside.sidebar ul {
  list-style: none;
  padding-left: 10px;
}
.conteiner .body aside.sidebar ul li {
  padding: 5px 5px;
}
.conteiner .body aside.sidebar ul li a {
  text-decoration: none;
  color: black;
}
.conteiner .body .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
  padding: 10px;
}
.conteiner .body .content .grafico {
  width: 80%;
}
.conteiner .body .content .meta_infos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: right;
}
.conteiner .body .content .meta_infos .meta {
  margin: 0px 30px 0px 30px;
  padding: 0px 15px 5px 15px;
  border-right: 1px solid #ccc;
}
.conteiner .body .content .scroll_x {
  overflow-x: scroll;
  width: 99%;
}
.conteiner .body .content .tr_dados {
  clear: both;
  padding-top: 50px;
}
.conteiner .body .content .tr_dados table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  white-space: nowrap;
}
.conteiner .body .content .tr_dados table th {
  height: 40px;
  background-color: #009ee0;
  color: white;
  padding: 0px 15px;
}
.conteiner .body .content .tr_dados table th,
.conteiner .body .content .tr_dados table td {
  border: solid 1px #e0e4cc;
}
.conteiner .body .content .tr_dados table td {
  padding: 10px;
}
